@page
@model RestauranteWEB.Pages.Ingrediente.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Ingredientes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Ingredientes.Id" />
            <div class="form-group">
                <label asp-for="Ingredientes.Nombre" class="control-label"></label>
                <input asp-for="Ingredientes.Nombre" class="form-control" />
                <span asp-validation-for="Ingredientes.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredientes.CantidadDisponible" class="control-label"></label>
                <input asp-for="Ingredientes.CantidadDisponible" class="form-control" />
                <span asp-validation-for="Ingredientes.CantidadDisponible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredientes.UnidadMedida" class="control-label"></label>
                <input asp-for="Ingredientes.UnidadMedida" class="form-control" />
                <span asp-validation-for="Ingredientes.UnidadMedida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredientes.PrecioUnitario" class="control-label"></label>
                <input asp-for="Ingredientes.PrecioUnitario" class="form-control" />
                <span asp-validation-for="Ingredientes.PrecioUnitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-page="./Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
    